openapi: 3.0.1
info:
  title: ChatGPT Plugin
  description: A plugin that integrates with GitHub to retrieve user information and repositories.
  version: "v1"
servers:
  - url: https://gh-plugin.teammait.com
paths:
  /api/repo:
    post:
      operationId: callOctokitMethod
      summary: Make a dynamic API call using Octokit JS library to Github. Provide octokitMethod and args {} in the request body.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                octokitMethod:
                  type: string
                  description: The valid Octokit method to call in the format `category.method`, e.g., 'issues.listForRepo', 'repos.get',
                  required: true
                args:
                  type: object
                  description: The valid arguments for the Octokit method. Searching requires a q param, e.g. q=stars:>500+language:javascript.
                  additionalProperties: true
                  required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/errorResponse"
components:
  schemas:
    errorResponse:
      type: object
      properties:
        error:
          type: string
          description: The error message
      required:
        - error
